<%- include("partials/header.ejs") %>
    <div id="main-container" style="margin: auto;">
        <div id="form-container" class="container upload-container">
            <form id="file-upload-form" action="/calculate" enctype="multipart/form-data" method="POST">
                <div>
                    <input id='file-upload' type="file" name="prescription" style="display: none;">
                    <label for="file-upload" class="file-upload" id="file-drag">
                        <div id="start">
                            <div id="file-upload-btn" class="file-button">
                                Selecionar Arquivo<i style="margin-left: 23px;" class="fa fa-upload"></i>
                            </div>
                            <button type="button" id="submit-button" class="upload-button">Upload</button>
                        </div>
                </div>
                </label>
                <div id="updatable-content" class="loading-message"></div>
                <div id="loading-container" class="hidden">
                    <div class="lds-facebook">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div id="loading-bar">
                        <div id="progress-bar"></div>
                    </div>
                </div>
                <div id="notimage" class="warn-message hidden">Erro. Arquivo não suportado.</div>
                <% if(parseError) {%>
                    <div id="parseError" class="warn-message">Erro ao analisar documento.</div>
                    <%} else { %>
                        <div id="parseError" class="warn-message hidden">Erro ao analisar documento.</div>
                        <% } %>
            </form>
        </div>
        <p class="file-types">Arquivos suportados .PDF</p>
    </div>

    <script src="/scripts/script.js"></script>


    <%- include("partials/footer.ejs") %>